.projects{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    text-align: center;
    gap: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #666;
    margin-top: auto;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(180deg, #2d6a4f, #ffffff);
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;

}
  
.social-icons li {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 20px;
    height: 20px;
}
